/*EXPERIMENT*/



body{
	background-color: #005d53;
}

.container{
	width: 60%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right:auto;
	border:none;
	border-radius:31px;
	position: relative;
  	color: white;
	padding-top: 40px;
	

}

.title{
	text-align:center;
	font-size:45px;
	font-weight: bold;
	color:black;

}

.name {
  position: absolute;
  bottom: 45%;
  left: 70px;
}

.number {
  position: absolute;
  bottom: 45%;
  left: 350px;
}

.total {
  position: absolute;
  bottom: 400px;
  right: 35px;
}

.valid-thru {
  position: absolute;
  bottom: 38px;
  left: 70px;
}


.cvv {
  position: absolute;
  bottom: 110px;
  left: 260px;
  
}

.cred-num {
  position: absolute;
  bottom: 110px;
  left: 70px;
}


.col-50 {
  position:relative;
  width: 250px;
  padding: 0 16px;

}

.num-col-50 {
  position:relative;
  width: 230px;
  padding: 0 16px;

}



.cvv-col-50 {
  position:relative;
  width:80px;
  padding: 0 16px;

}

.vt-col-50 {
  position:relative;
  width:125px;
  padding: 0 16px;

}


input[type=text] {
  width: 70%;
  margin-bottom: 20px;
  padding: 6px;
  border: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, .15);
  background-filter: blur(5px);
  color:white;
  box-sizing:border-box;
  font-size: 15px;

}

@media screen(min-width>20px) and (max-width<150px){
  input{
    width: 70%
}
}

.button-pay {
  position: absolute;
  bottom: 8px;
  right: 0px;
  
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: none;
  text-decoration: none;
  display: inline-block;
  width: 70%;
  margin-bottom: 20px;
  border-radius: 3px;
}

button:hover{
  background-color: #1c522f;

}





